@model IEnumerable<FinalProject_FoodPort.Models.MenuModel>

@{
    ViewBag.Title = "ShowMenu";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div align="center">
    <h2>Menu</h2>
    <br />
    @ViewBag.msg
    <table class="table table-hover table-bordered">
        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.RestaurantID)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemID)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemCategory)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemVegNonVeg)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.RestaurantID)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ItemCategory)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ItemVegNonVeg)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
            </tr>
        }

    </table>
</div>