@model IEnumerable<FinalProject_FoodPort.Models.CustomerModel>

@{
    ViewBag.Title = "ViewCustomer";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div align="center">
    <h1>All Customers</h1>
    <br/>
    <table class="table table-hover table-bordered">
        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.CustomerPhoneNumber)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>   
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.CustomerPhoneNumber)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
            </tr>
        }

    </table>
    </div>
